<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
</head>
<body>
    <header>
        <div class="header-superior">
            <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo">
            <div class="barra-busqueda">
                <div class="input"> Buscar... </div>
                <div class="icono-buscador" ><i class="fa fa-search"></i></div>
            </div>
            <div>
            <p class="formas-pagos"><i class="fas fa-hand-holding-usd"></i> Comprar en cuotas y sin Tarjeta de crédito</p>
            </div>
        </div>
        <nav>
            <div class="header-inferior-1">
                <div class="header-tienda">
                    <a href="#">Ofertas</a>
                </div>
                <div class="header-tienda">
                    <a href="#">Tiendas Oficiales</a>
                </div>
                <div class="header-tienda">
                    <a href="#">Vender</a>
                </div>
                <div class="header-tienda">
                    <a href="#">Ayuda</a>
                </div>
                <div class="header-usuario">
                    <a href="/register">Crea tu cuenta</a><i class="fas fa-hand-holding-usd"></i>
                </div>
                <div class="header-usuario">
                    <a href="/login">Ingresa</a><i class="fas fa-sign-in-alt"></i>
                </div>
                <div class="header-usuario">
                    <a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i>
                </div>
            </div>
        </nav>
        <nav class="burger-menu">
            <i class="fas fa-bars"></i>
        </nav>
    </header>
    <main>
        <section>
            <div class="titulares">
                <h4>Bienvenido!</h4>
            </div>
            <form action="/" method="get" class="form">
                <div class="form-main">
                <div class="form-control">
                    <label for="nu"></label>
                    <input type="text" name="usuario" id="nu" placeholder="Usuario" >
                </div>
                <div class="Contrasenia">
                    <label for="Contrasenia"></label>
                    <input type="password" name="Contrasenia" id="Contrasenia" placeholder="Contraseña">
                </div>
                <button type="submit"> Iniciar sesion</button>
                </div>
        </form>
        </section>
    </main>
    <footer>
        <section class="sec-footer">
            <div class="div-footer">
                <i class="fas fa-credit-card"></i>
                <h3 class="titulares">
                Pagá con tarjeta o en efectivo
                 </h3>

                <p class="cuerpoDeTexto">
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
                <p>
            </div>
            <div class="div-footer"> 
                <i class="fas fa-gift"></i>
                <h3 class="titulares">
                Envío gratis desde $ 2.500
                </h3>
                <p class="cuerpoDeTexto">
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
                <p>
            </div>
            <div class="div-footer">
                <i class="fas fa-user-shield"></i>
                <h3 class="titulares">
                Seguridad, de principio a fin
                </h3>
                <p class="cuerpoDeTexto">
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
                <p>
            </div>        
        </section>
        <section>
            <div class="copyright">
                <p class="cuerpoDeTexto">
                Copyright © 1999-2020 MercadoLiebre S.R.L.
                <p>
            </div>
        </section>
    </footer>   
</body>
</html>